body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
  width: 100%;
}

.message {
  margin: 4px 8px;
}

.footer {
  margin: 40px auto;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}
